flask==0.10
gunicorn==19.9.0
numpy==1.4.1
redis==2.10.5
argparse==1.2.1
sphinx==1.8.6
requests==2.6.0
python-dateutil==2.5.3
sqlalchemy==1.0.12
psycopg2-binary==2.8.6
alabaster==0.7.7
couchdb==1.0.1
wtforms==2.1
email_validator==1.1.1
werkzeug==0.16.1
Pillow==6.2.2
