{% macro render_field(field) %}
    {# from flask.pocoo.org/docs/0.12/patterns/wtforms/ #}
    <dt>{{ field.label }}</dt>
    <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    {% endif %}
    </dd>
{% endmacro %}

{% macro render_channel_feed_resistor(field) %}
    {# from flask.pocoo.org/docs/0.12/patterns/wtforms/ #}
    <dt>{{ field.label }}</dt>
    <dd>
        <select id="{{ field.name }}" name="{{ field.name }}">
            <option value="{{ field.data }}">{{ field.data }}</option>
            {% for value in [51, 100, 200, 300, 390, 510, 620, 820, 1000, 1100, 1200, 1300, 1500, 1600, 1800, 2000, 2200, 2400] %}
                <option value={{ value*1000 }}>{{ "%ik" % value }}</option>
            {% endfor %}
            <option value=9999999999>9999999k</option>
        </select>
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    {% endif %}
    </dd>
{% endmacro %}

{% macro render_paddle_card_feed_resistor(field) %}
    {# from flask.pocoo.org/docs/0.12/patterns/wtforms/ #}
    <dt>{{ field.label }}</dt>
    <dd>
        <select id="{{ field.name }}" name="{{ field.name }}">
            <option value="{{ field.data }}">{{ field.data }}</option>
            {% for value in [39, 51, 68, 82, 100, 150, 200, 300, 390, 620] %}
                <option value={{ value*1000 }}>{{ "%ik" % value }}</option>
            {% endfor %}
            <option value=9999999999>9999999k</option>
        </select>
    {% if field.errors %}
        <ul class=errors>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    {% endif %}
    </dd>
{% endmacro %}

{% macro crate_select() %}
<label for="crate">Crate</label>
<select id="crate">
    <option value="-1">-</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
</select>
{% endmacro %}

{% macro card_select() %}
<label for="slot">Card</label>
<select id="slot">
    <option value="-1">-</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
</select>
{% endmacro %}

{% macro channel_select() %}
<label for="channel">Channel</label>
<select id="channel">
    <option value="-1">-</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>
{% endmacro %}
