{% extends "layout.html" %}
{% block title %}Light Levels{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">
    <div class="row">
        Run Range:
        <input type="text" id="run_range_low" value={{run_range_low}} style="width:80px;"> - 
        <input type="text" id="run_range_high" value={{run_range_high}} style="width:80px;"> 
        <button type=button onclick="history();">Update Plots</button> <br>
        <a href="{{ url_for('light_level_summary') }}">Fill list of processed runs</a>
    </div>
    <div class="row">
        <div class="col-md-12" id="main8500">
            <h4 align="center"> Peak of <sup>210</sup>Po nhits, FV cut = 8.5 m  </h4>
            {% if not light_levels_8500 %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
        <div class="col-md-12" id="main5000">
            <h4 align="center"> Peak of <sup>210</sup>Po nhits, FV cut = 5.0 m  </h4>
            {% if not light_levels_5000 %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
        <div class="col-md-12" id="main3000">
            <h4 align="center"> Peak of <sup>210</sup>Po nhits, FV cut = 3.0 m  </h4>
            {% if not light_levels_3000 %}
                <h2 align="left"> No data available </h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script>
        if (url_params.run_range_low) {
            document.getElementById("run_range_low").value = url_params.run_range_low;
        }
        if (url_params.run_range_high) {
            document.getElementById("run_range_high").value = url_params.run_range_high;
        }

        var ldata8500 = {{ light_levels_8500 | safe }};
        var ldata5000 = {{ light_levels_5000 | safe }};
        var ldata3000 = {{ light_levels_3000 | safe }};

        var lparams8500 = {
            chart_type: 'point',
            area: false,
            data: ldata8500,
            width: $('#main8500').width(),
            left: 100,
            height: 400,
            target: "#main8500",
            x_accessor:'run',
            y_accessor:'peak',
            point_size: 4.0,
            y_label: "Po210 nhits (mm)",
            x_label: "Run number",
            yax_count: 5,
            xax_count: 4,
            min_y_from_data: true,
            y_mouseover: function(d, i) {
                return 'Po210 peak: ' + format_int(d['peak']);
            },
        };

        var lparams5000 = {
            chart_type: 'point',
            area: false,
            data: ldata5000,
            width: $('#main5000').width(),
            left: 100,
            height: 400,
            target: "#main5000",
            x_accessor:'run',
            y_accessor:'peak',
            point_size: 4.0,
            y_label: "Po210 nhits (mm)",
            x_label: "Run number",
            yax_count: 5,
            xax_count: 4,
            min_y_from_data: true,
            y_mouseover: function(d, i) {
                return 'Po210 peak: ' + format_int(d['peak']);
            },
        };

        var lparams3000 = {
            chart_type: 'point',
            area: false,
            data: ldata3000,
            width: $('#main3000').width(),
            left: 100,
            height: 400,
            target: "#main3000",
            x_accessor:'run',
            y_accessor:'peak',
            point_size: 4.0,
            y_label: "Po210 nhits (mm)",
            x_label: "Run number",
            yax_count: 5,
            xax_count: 4,
            min_y_from_data: true,
            y_mouseover: function(d, i) {
                return 'Po210 peak: ' + format_int(d['peak']);
            },
        };

        MG.data_graphic(lparams8500);
        MG.data_graphic(lparams5000);
        MG.data_graphic(lparams3000);

        d3.selectAll('.mg-voronoi path').on('click', function(d, i) {
            window.location.replace($SCRIPT_ROOT + "/light_level_plots/" + d.point['run']); 
            console.log(d.point['run'], i);
        });

        function history() {
            var params = {};
            try {
                params['run_range_low'] = document.getElementById("run_range_low").value;
            } catch (e) {
                params['run_range_low'] = 300000;
            }
            try {
                params['run_range_high'] = document.getElementById("run_range_high").value;
            } catch (e) {
                params['run_range_high'] = 350000;
            }
            window.location.replace($SCRIPT_ROOT + "/light_level?" + $.param(params));
        }

    </script>
{% endblock %}
