{% extends "layout.html" %}
{% block title %}Light Level Plots{% endblock %}
{% block body %}
    {{ super() }}
<div class="container">

    <div class="row">

        <a href="{{ url_for('light_level') }}">Back to summary page</a> <br> <br> <br>


        <div align="center" class="col-md-12">
            Black: Nhits with correction for offline channels and channel efficiencies. <br>
            Blue: Nhits cleaned with bad channels removed. <br>
            Fit to the peak is performed on the 'corrected Nhits' <br> 
            <img src="{{ url_for('static', filename='images/light_yield_monitor/run'+run_number+'/ly_out1.png') }}">
            <h4> FV cut: 8.5 m </h4>

            <img src="{{ url_for('static', filename='images/light_yield_monitor/run'+run_number+'/ly_out2.png') }}">
            <h4> FV cut: 5.0 m </h4>

            <img src="{{ url_for('static', filename='images/light_yield_monitor/run'+run_number+'/ly_out3.png') }}">
            <h4> FV cut: 3.0 m </h4>
        </div>
    </div>   
</div>
{% endblock %}
{% block script %}
{% endblock %}
