{% extends "layout.html" %}
{% block title %}PCA Processing{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center">TELLIE PCA Processor: dataset {{ data }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>General</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Hit coverage</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/HitCoverage.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Offline PMTs</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/OfflinePMTs.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">PCA hits per PMT</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAhitPerPMT.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">PCA TW RMS</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCATWRMS.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Intersec</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/intersec.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Cable delay</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Cable delay</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/cable.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Cable delay difference - card</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/cableDiffCard.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Cable delay difference - LCN</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/cableDiff.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Cable delay difference - histo</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/cableDiffHisto.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Fibre delays</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">LED coverage</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/ledcoverage.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Best fibre (used for pca extraction)</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/BestFibre.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">LED offsets</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/ledoffsets.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Fiber delay - difference</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/fiberDelayDiff.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Charge data</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">QHS: Threshold</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/HistsQHS.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">QHL: Threshold</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/HistsQHL.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">QHS: HHP</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/HHPQHSflat.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">QHL: HHP</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/HHPQHLflat.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">QHS: Peak</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/peakSummaryQHS.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">QHL: Peak</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/peakSummaryQHL.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>PCA diff: QHS</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Threshold diff</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffTHRESHQHS.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Threshold diff - histo</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffTHRESHQHS1d.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Peak diff</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffPEAKQHS.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Peak diff - histo</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffPEAKQHS1d.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">High-half point diff</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffHHPQHS.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">High-half point diff - hist</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffHHPQHS1d.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>PCA diff: QHL</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Threshold diff</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffTHRESHQHL.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Threshold diff - histo</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffTHRESHQHL1d.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">Peak diff</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffPEAKQHL.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">Peak diff - histo</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffPEAKQHL1d.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <hr style="border-width: 4px;">
            <div class="row">
              <div class="col-md-6">
                <h5 style="text-align:center">High-half point diff</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffHHPQHL.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">High-half point diff - hist</h5>
                <img src="{{ url_for('static', filename="pcatellie/SET_" + run + "/PCAdiffHHPQHL1d.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
