{% extends "layout.html" %}
{% block title %}Burst Trigger L2{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center">TELLIE PCA Benchmarking: {{ data['Run1'] }} vs {{ data['Run2'] }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><b>General</b></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="25.0%">Parameter</th>
                      <th width="25.0%">Value</th>
                      <th width="50.0%">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Run1</td>
                      <td>{{ data["Run1"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Run2</td>
                      <td>{{ data["Run2"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Offline PMTs</td>
                      <td>{{ data["PMTOff"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>PMTs with ZERO occupancy</td>
                      <td><span style="color:red">{{ data["PMTZeroOc"] }}</span></td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>PMTs with LOW occupancy</td>
                      <td>{{ data["PMTLowOc"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Succesfully calibrated PMTs</td>
                      <td><span style="color:green">{{ data["PMTGoodCal"] }}</span></td>
                      <td>Run number where burst occured</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><b>Cable delays</b></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="25.0%">Parameter</th>
                      <th width="50.0%">Value</th>
                      <th width="25.0%">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Outliers: ID</td>
                      <td>{{ data["out_ID"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Outliers: cable delay</td>
                      <td>{{ data["out_diff"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Newly calibrated</td>
                      <td>{{ data["nowGood"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Previously calibrated</td>
                      <td>{{ data["nowBad"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Minimal change</td>
                      <td>{{ data["minDiff"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>Maximal change</td>
                      <td>{{ data["maxDiff"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><b>Time Walk</b></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="25.0%">Parameter</th>
                      <th width="50.0%">Value</th>
                      <th width="25.0%">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>IDs1</td>
                      <td>{{ data["IDs1"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>IDs2</td>
                      <td>{{ data["IDs2"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>off1</td>
                      <td>{{ data["off1"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>off2</td>
                      <td>{{ data["off2"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>goodCount</td>
                      <td>{{ data["goodCount"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>badCount</td>
                      <td>{{ data["badCount"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>min_grad</td>
                      <td>{{ data["min_grad"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>max_grad</td>
                      <td>{{ data["max_grad"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>min_inter</td>
                      <td>{{ data["min_inter"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>max_inter</td>
                      <td>{{ data["max_inter"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><b>Peak fit</b></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="25.0%">Parameter</th>
                      <th width="50.0%">Value</th>
                      <th width="25.0%">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>root1</td>
                      <td>{{ data["root1"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>root2</td>
                      <td>{{ data["root2"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Cable delays</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cable.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cable2.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableCard.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableCard2.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableDiff.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableDiffCard.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableDiffHist.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Cable delays - Flat maps</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableFlat.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableFlat2.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableFlatDiff.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/cd_comp_cableFlatDiffZoom.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Time Walk</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/tw_comp_grad.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/tw_comp_inter.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Peak Fit</b></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/peak_comp_1.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/peak_comp_2.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/peak_comp_3.png") }}" alt="alt" class="img-responsive">
              </div>
              <div class="col-md-6">
                <img src="{{ url_for('static', filename="pcatellie/bench/" + run + "/peak_comp_4.png") }}" alt="alt" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
