{% extends "layout.html" %}
{% block title %}Burst Trigger L2{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}
  {{ super() }}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h2 style="text-align: center">TELLIE PCA datasets</h2>
            <table class="table table-bordered table-condensed table-striped">
              <thead>
                <th style="text-align: center; vertical-align: middle;">Name</th>
                <th style="text-align: center; vertical-align: middle;">Run range</th>
                <th style="text-align: center; vertical-align: middle;"><a href="{{ url_for('pca_tellie_tables') }}">PCA tables</th>
                <th style="text-align: center; vertical-align: middle;">PCA processor</th>
                <th style="text-align: center; vertical-align: middle;">Benchmarking</th>
              </thead>
              <tbody>
                {% for runlist in data %}
                <tr>
                  <td style="text-align: center; vertical-align: middle;">{{ runlist['name'] }}</td>
                  <td style="text-align: center; vertical-align: middle;"><a href="{{ url_for('pca_set', first_run=runlist['runrange'][0]) }}">{{  runlist["runrange"] }}</a></td>
                  <td style="text-align: center; vertical-align: middle;"><a href="{{ url_for('pca_tellie_table', run=runlist['runrange'][0]) }}">{{  runlist['runrange'][0] }} table</a></td>
                  <td style="text-align: center; vertical-align: middle;"><a href="{{ url_for('pca_proc', first_run=runlist['runrange'][0]) }}">{{  runlist['runrange'][0] }}</a></td>
                  <td style="text-align: center; vertical-align: middle;"><a href="{{ url_for('pca_set_bench', run=201389) }}">{{  runlist["runrange"] }}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><b>Limits</b></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th width="25.0%">Parameter</th>
                      <th width="25.0%">Value</th>
                      <th width="50.0%">Note</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>DIR_LIGHT_ANG</td>
                      <td>{{ limits["DIR_LIGHT_ANG"] }}</td>
                      <td>Run number where burst occured</td>
                    </tr>
                    <tr>
                      <td>REF_LIGHT_ANG</td>
                      <td>{{ limits["REF_LIGHT_ANG"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>LOCALITY</td>
                      <td>{{ limits["LOCALITY"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>ANG_SYS_ANG</td>
                      <td>{{ limits["ANG_SYS_ANG"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>MIN_DIST</td>
                      <td>{{ limits["MIN_DIST"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOT_EVS</td>
                      <td>{{ limits["TOT_EVS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOT_EVS_DEV</td>
                      <td>{{ limits["TOT_EVS_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOT_HITS</td>
                      <td>{{ limits["TOT_HITS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_EXTA</td>
                      <td>{{ limits["TH_EXTA"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_BADCHAN</td>
                      <td>{{ limits["TH_BADCHAN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_BADECA</td>
                      <td>{{ limits["TH_BADECA"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_BADPCA</td>
                      <td>{{ limits["TH_BADPCA"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_XTALK</td>
                      <td>{{ limits["TH_XTALK"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_NOTEN</td>
                      <td>{{ limits["TH_NOTEN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_OFFPMT</td>
                      <td>{{ limits["TH_OFFPMT"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_OFFCHAN</td>
                      <td>{{ limits["TH_OFFCHAN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_DAQEN</td>
                      <td>{{ limits["TH_DAQEN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_NNORM</td>
                      <td>{{ limits["TH_NNORM"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_BADPOS</td>
                      <td>{{ limits["TH_BADPOS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_LPCTIR</td>
                      <td>{{ limits["TH_LPCTIR"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_LPCIP</td>
                      <td>{{ limits["TH_LPCIP"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_LPCLOC</td>
                      <td>{{ limits["TH_LPCLOC"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_LPCPATH</td>
                      <td>{{ limits["TH_LPCPATH"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_ANG</td>
                      <td>{{ limits["TH_ANG"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TH_NEARREF</td>
                      <td>{{ limits["TH_NEARREF"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>NHIT_DIV</td>
                      <td>{{ limits["NHIT_DIV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>NHIT_MEAN</td>
                      <td>{{ limits["NHIT_MEAN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>NHIT_MEAN_DEV</td>
                      <td>{{ limits["NHIT_MEAN_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>NHIT_RMS</td>
                      <td>{{ limits["NHIT_RMS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>SUB_NHIT</td>
                      <td>{{ limits["SUB_NHIT"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>SUB_DEV</td>
                      <td>{{ limits["SUB_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>HIT_PEAK</td>
                      <td>{{ limits["HIT_PEAK"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>HIT_PEAK_DEV</td>
                      <td>{{ limits["HIT_PEAK_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TIME_DIV</td>
                      <td>{{ limits["TIME_DIV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>PMTS_BS</td>
                      <td>{{ limits["PMTS_BS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>PMTS_BSP</td>
                      <td>{{ limits["PMTS_BSP"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>PMTS_BS_GO</td>
                      <td>{{ limits["PMTS_BS_GO"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>PMTS_BS_GOP</td>
                      <td>{{ limits["PMTS_BS_GOP"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>PMTS_BS_RAT</td>
                      <td>{{ limits["PMTS_BS_RAT"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>RUNTIME</td>
                      <td>{{ limits["RUNTIME"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>FREQ</td>
                      <td>{{ limits["FREQ"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>FREQ_DEV</td>
                      <td>{{ limits["FREQ_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>EV_SUB</td>
                      <td>{{ limits["EV_SUB"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>EV_SUB_DEV</td>
                      <td>{{ limits["EV_SUB_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>N_SUBS</td>
                      <td>{{ limits["N_SUBS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>INTEG_ALL</td>
                      <td>{{ limits["INTEG_ALL"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>INTEG_BS</td>
                      <td>{{ limits["INTEG_BS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>BS_PMTS</td>
                      <td>{{ limits["BS_PMTS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>PIN_RMS</td>
                      <td>{{ limits["PIN_RMS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>COV</td>
                      <td>{{ limits["COV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>CORF</td>
                      <td>{{ limits["CORF"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOF_MEAN</td>
                      <td>{{ limits["TOF_MEAN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOF_RMS</td>
                      <td>{{ limits["TOF_RMS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>BUCK_MEAN</td>
                      <td>{{ limits["BUCK_MEAN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>BUCK_RMS</td>
                      <td>{{ limits["BUCK_RMS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>AS_MEAN_MIN</td>
                      <td>{{ limits["AS_MEAN_MIN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>AS_MEAN_MAX</td>
                      <td>{{ limits["AS_MEAN_MAX"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>AS_RMS</td>
                      <td>{{ limits["AS_RMS"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>COR_DEV</td>
                      <td>{{ limits["COR_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOF_MIN</td>
                      <td>{{ limits["TOF_MIN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>TOF_MAX</td>
                      <td>{{ limits["TOF_MAX"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>BUC_MIN</td>
                      <td>{{ limits["BUC_MIN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>BUC_MAX</td>
                      <td>{{ limits["BUC_MAX"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>AS_MIN</td>
                      <td>{{ limits["AS_MIN"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>AS_MAX</td>
                      <td>{{ limits["AS_MAX"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>RESID_PEAK</td>
                      <td>{{ limits["RESID_PEAK"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>RESID_PEAK_DEV</td>
                      <td>{{ limits["RESID_PEAK_DEV"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>DIR_RESID_0</td>
                      <td>{{ limits["DIR_RESID_0"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>DIR_RESID_1</td>
                      <td>{{ limits["DIR_RESID_1"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>FIT_SLOPE</td>
                      <td>{{ limits["FIT_SLOPE"] }}</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>FIT_SLOPE_DEV</td>
                      <td>{{ limits["FIT_SLOPE_DEV"] }}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
