{% from "_formhelpers.html" import render_field, crate_select, card_select %}
{% extends "layout.html" %}
{% block title %}Resistors{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .noel tbody tr:nth-child(even) {
            background-color: #ffffff;
        }
        .noel tbody tr:nth-child(odd) {
            background-color: #adffad;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
	    <div class="col-md-10" style="margin-bottom:20px">
                {% crate_select() %}
                {% card_select() %}
            </div>
            <div class="col-md-12">
                <p> Supply Voltage: {{ "%i" % nominal_hv }} V
                <p> R252 = {{ "%.0f" % (resistors['r252']/1000) }}k
                <p> R151 = {{ "%.1f" % (resistors['r151']/1000) }}k
            </div>
            <div class="col-md-10 col-md-offset-1">
		<table class="table table-condensed noel">
		    <thead>
			<tr>
			    <th>Channel</th>
			    <th>Resistor</th>
			    <th>Resistance</th>
			    <th>Ideal Resistance</th>
			    <th>Voltage</th>
			    <th>Ideal Voltage</th>
			    <th>Difference</th>
			</tr>
		    </thead>
		    {% for i in range(actual_voltage|length) %}
		    <tr>
			<td>{{ i }}</td>
			<td>R{{ "%i" % (i+387) }}</td>
			<td>{{ "%i" % (actual_resistors[i]/1000) }}k</td>
			<td>{{ "%i" % (ideal_resistors[i]/1000) }}k</td>
			<td>{{ "%.0f" % actual_voltage[i] }}</td>
			<td>{{ ideal_voltage[i] }}</td>
			<td>{{ "%.0f" % (ideal_voltage[i] - actual_voltage[i]) }}</td>
		    </tr>
		    {% endfor %}
		</table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var setting = 0;
        for (var key in url_params) {
            if (url_params.hasOwnProperty(key)) {
                if (key == 'crate') {
                    document.getElementById("crate").value = url_params.crate;
                } else if (key == 'slot') {
                    document.getElementById("slot").value = url_params.slot;
                }
            }
        }
        $("#crate, #slot").on("change", function() {
            var params = {};
            if (document.getElementById("crate").value != -1) {
                params['crate'] = document.getElementById("crate").value;
            }
            if (document.getElementById("slot").value != -1) {
                params['slot'] = document.getElementById("slot").value;
            }

            if (Object.keys(params).length > 0) {
                window.location.replace($SCRIPT_ROOT + "/resistors?" + $.param(params));
            } else {
                window.location.replace($SCRIPT_ROOT + "/resistors");
            }
        });
    </script>
{% endblock %}
