{% extends "layout.html" %}
{% block title %}Resistors{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
	    <div class="col-md-10" style="margin-bottom:20px">
                <label for="crate">Crate</label>
                <select id="crate">
                    <option value="-1">-</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                </select>
                <label for="slot">Card</label>
                <select id="slot">
                    <option value="-1">-</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                </select>
            </div>
            <div class="col-md-12">
		<table class="table">
		    <thead>
			<tr>
			    <th>Channel</th>
			    <th>Ideal Voltage</th>
			    <th>Actual Voltage</th>
			</tr>
		    </thead>
		    {% for i in range(actual_voltage|length) %}
		    <tr>
			<td>{{ i }}</td>
			<td>{{ ideal_voltage[i] }}</td>
			<td>{{ actual_voltage[i] }}</td>
		    </tr>
		    {% endfor %}
		</table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var setting = 0;
        for (var key in url_params) {
            if (url_params.hasOwnProperty(key)) {
                if (key == 'crate') {
                    document.getElementById("crate").value = url_params.crate;
                } else if (key == 'slot') {
                    document.getElementById("slot").value = url_params.slot;
                }
            }
        }
        $("#crate, #slot").on("change", function() {
            var params = {};
            if (document.getElementById("crate").value != -1) {
                params['crate'] = document.getElementById("crate").value;
            }
            if (document.getElementById("slot").value != -1) {
                params['slot'] = document.getElementById("slot").value;
            }

            if (Object.keys(params).length > 0) {
                window.location.replace($SCRIPT_ROOT + "/resistors?" + $.param(params));
            } else {
                window.location.replace($SCRIPT_ROOT + "/resistors");
            }
        });
    </script>
{% endblock %}
