{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Resistors{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .noel tbody tr:nth-child(even) {
            background-color: #ffffff;
        }
        .noel tbody tr:nth-child(odd) {
            background-color: #adffad;
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
	    <div class="col-md-12" style="margin-bottom:20px">
                <label for="crate">Crate</label>
                <select id="crate">
                    {% for i in range(19) %}
                        <option {% if crate == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                <label for="slot">Card</label>
                <select id="slot">
                    {% for i in range(16) %}
                        <option {% if slot == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p> Nominal Voltage: {{ "%i" % resistors['nominal_hv'] }} V
                <p> Supply Voltage: {{ "%i" % resistors['supply_voltage'] }} V (Supply {{ resistors['supply'] }})
                <p> R252 = {{ "%.0f" % (resistors['r252']/1000) }}k
                <p> R151 = {{ "%.1f" % (resistors['r151']/1000) }}k
                <p> PC0 = {{ "%.1f" % (resistors['pc0']/1000) }}k ({{ "%i" % resistors['v_pc0'] }} V)
                <p> PC1 = {{ "%.1f" % (resistors['pc1']/1000) }}k ({{ "%i" % resistors['v_pc1'] }} V)
                <p> PC2 = {{ "%.1f" % (resistors['pc2']/1000) }}k ({{ "%i" % resistors['v_pc2'] }} V)
                <p> PC3 = {{ "%.1f" % (resistors['pc3']/1000) }}k ({{ "%i" % resistors['v_pc3'] }} V)
                <p> Voltage to PC feed resistors = {{ "%i" % resistors['v_to_pc'] }} V
                <p> Total Resistance = {{ "%.1f" % (resistors['r_tot']/1000) }}k
                <p> PMTIC current = {{ "%.1f" % (resistors['pmtic_i']*1000) }}mA
            </div>
            <div class="col-md-8">
		<table class="table table-condensed noel">
		    <thead>
			<tr>
			    <th>Channel</th>
			    <th>Resistor</th>
			    <th>Resistance</th>
			    <th>Ideal Resistance</th>
			    <th>Voltage</th>
			    <th>Ideal Voltage</th>
			    <th>Difference</th>
			</tr>
		    </thead>
		    {% for i in range(32) %}
		    <tr>
			<td>{{ i }}</td>
			<td>R{{ "%i" % (i+387) }}</td>
                        {% if resistors['actual_resistors'][i] != 9999999999 %}
                            <td>{{ "%i" % (resistors['actual_resistors'][i]/1000) }}k</td>
                            <td>{{ "%i" % (resistors['ideal_resistors'][i]/1000) }}k</td>
                            <td>{{ "%.0f" % (resistors['actual_voltages'][i]) }}</td>
                            <td>{{ resistors['ideal_voltages'][i] }}</td>
                            <td>{{ "%.0f" % (resistors['ideal_voltages'][i] - resistors['actual_voltages'][i]) }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>{{ resistors['ideal_voltages'][i] }}</td>
                            <td>-</td>
                        {% endif %}
		    </tr>
		    {% endfor %}
		</table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#crate, #slot").on("change", function() {
            var params = {};
            if (document.getElementById("crate").value != -1) {
                params['crate'] = document.getElementById("crate").value;
            }
            if (document.getElementById("slot").value != -1) {
                params['slot'] = document.getElementById("slot").value;
            }

            if (Object.keys(params).length > 0) {
                window.location.replace($SCRIPT_ROOT + "/calculate-resistors?" + $.param(params));
            } else {
                window.location.replace($SCRIPT_ROOT + "/calculate-resistors");
            }
        });
    </script>
{% endblock %}
