{% extends "layout.html" %}
{% block title %}Run Selection {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <h1>Run Selection</h1>
            <div class="col-md-2">
                {% if offset == 0 %}
                <button class="btn btn-outline-primary btn-lg" disabled>Back</button>
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for("runselection", limit=limit, offset=offset+limit, criteria=criteria, result=result) }}">Next</a>
                {% else %}
                    {% if limit > offset %}
                    <a class="btn btn-outline-primary btn-lg" href="{{ url_for("runselection", limit=limit, offset=0, criteria=criteria, result=result) }}">Back</a>
                    {% else %}
                    <a class="btn btn-outline-primary btn-lg" href="{{ url_for("runselection", limit=limit, offset=offset-limit, criteria=criteria, result=result) }}">Back</a>
                    {% endif %}
                    <a class="btn btn-outline-primary btn-lg" href="{{ url_for("runselection", limit=limit, offset=offset+limit, criteria=criteria, result=result) }}">Next</a>
                {% endif %}
            </div>
            <div class="col-md-10 text-right">
                Result:
                <select onchange="location=this.options[this.selectedIndex].value;">
                    {% for i, text in [("All", "All"), ("Pass", "Pass"), ("Fail", "Fail"), ("Purgatory", "Purgatory")] %}
                        <option {% if result == i %}selected="selected" {% endif %}value="{{url_for("runselection", limit=limit, offset=offset, criteria=criteria, result=i)}}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-10 text-right">
                Criteria:
                <select onchange="location=this.options[this.selectedIndex].value;">
                    {% for i, text in [("scintillator", "scintillator"), ("partial_fill_antinu", "partial_fill_antinu"), ("partial_fill", "partial_fill"), ("water", "water")] %} <!-- FIXME: make this dynamic !-->
                        <option {% if criteria == i %}selected="selected" {% endif %}value="{{url_for("runselection", limit=limit, offset=offset, criteria=i, result=result)}}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-10 text-right">
                Runs per page:
                <select onchange="location=this.options[this.selectedIndex].value;">
                    {% for i, text in [(10,"10"), (25, "25"), (50, "50"), (100, "100")] %}
                        <option {% if limit == i %}selected="selected" {% endif %}value="{{url_for("runselection", limit=i, offset=offset, criteria=criteria, result=result)}}">{{ text }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Run</th>
                            <th>Result</th>
                            <th>Criteria</th>
                            <th>Overlord</th>
                            <th>Last review</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if run_info == False %}
                            <tr class="bg-danger" >
                                <td>
                                    {{"N/A"}}
                                </td>
                                <td colspan="10" style="text-align:center;">
                                    <b> No RS results present for selected range. </b>
                                </td>
                            </tr>
                        {% else %}
                            {% for run_number in run_info.keys() %}
                                <tr>
                                    <td><a href="{{ url_for('runselection_run_number', run_number=run_number)}}">{{run_number}}</a></td>
                                    {% if run_info[run_number][criteria]["meta_data"]["decision"]["result"] == True %}
                                    <td><font color="green">Pass</font></td>
                                    {% elif run_info[run_number][criteria]["meta_data"]["decision"]["result"] == None %}
                                    <td>Purgatory</td>
                                    {% else %}
                                    <td><font color="red">Fail</font></td>
                                    {% endif %}
                                    <td>{{ run_info[run_number][criteria]["meta_data"]["index"] }}</td>
                                    <td>{{ run_info[run_number][criteria]["name"] }}</td>
                                    <td>{{ run_info[run_number][criteria]["timestamp"] }}</td>
                                </tr> 
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
