{% extends "layout.html" %}
{% block title %}Run Selection Run Detail{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pca.css') }}" media="screen">
{% endblock %}
{% block body %}
  {{ super() }}

  <!-- Start Page -->
  <div class="container">

    <!-- Page Title -->
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:center">Run Selection for Run {{ run_number }}</h1>
      </div>
    </div>

    <!-- General Information Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><b>General information</b></h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                {% if general_info == False %}
                  <h1 style="text-align:center"><font color="red">NO DATA</font></h1>
                {% else %}
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th width="50.0%">Parameter</th>
                        <th width="50.0%">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for parameter in general_info.keys() %}
                      <tr>
                        <td>{{ parameter }}</td>
                        {% if general_info[parameter] == "Pass" %}
                          <td><font color="green">Pass</font></td>
                        {% elif general_info[parameter] == "Fail" %}
                          <td><font color="red">Fail</font></td>
                        {% else %}
                          <td>{{ general_info[parameter] }}</td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Run Selection Results Title -->
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:left">Run Selection Results</h1>
      </div>
    </div>

    <!-- Run Selection Results Collapsable Tabs -->
    {% if display_info == False %}
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h1 style="text-align:center"><font color="red">NO DATA</font></h1>
          </div>
        </div>
      </div>
    {% else %}
      {% for criteria in display_info.keys() %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel-group">
              <div class="panel panel-default">
      
                <!-- Collapsable header title for criteria tag -->
                <div class="panel-heading">
                  <h4 id="title-{{criteria}}" class="panel-title">
                    <a data-toggle="collapse" href="#collapse{{criteria}}">
                      {% if display_info[criteria]["criteria_result"] == true %}
                        <b><font color="green">{{ criteria }}</font></b>
                      {% elif display_info[criteria]["criteria_result"] == false %}
                        <b><font color="red">{{ criteria }}</font></b>
                      {% else %}
                        <b>{{ criteria }}</b>
                      {% endif %}
                    </a>
                  </h4>
                </div>
      
                <!-- Collapsable body for criteria tag -->
                <div id="collapse{{criteria}}" class="panel-collapse collapse out">
                  <div class="panel-body" id="{{criteria}}">
                    {% for rs_module in display_info[criteria]["rs_modules"].keys() %}
                      <div class="row">
                        <div class="col-md-12">
                          <div class="panel panel-default" style="margin-bottom: 20px">
      
                            <!-- RS-Module Header -->
                            <div class="panel-heading">
                              <h1 class="panel-title">
                                <a data-toggle="collapse" href="#collapse{{criteria}}-{{rs_module}}">
                                  {% if display_info[criteria]["rs_modules"][rs_module] is mapping %}
                                    {% if display_info[criteria]["rs_modules"][rs_module]["module_result"] == true %}
                                      <font color="green">{{ rs_module }}</font>
                                    {% elif display_info[criteria]["rs_modules"][rs_module]["module_result"] == false %}
                                      <font color="red">{{ rs_module }}</font>
                                    {% else %}
                                      {{ rs_module }}
                                    {% endif %}
                                  {% else %}
                                    <font color="red">{{ rs_module }}</font>
                                  {% endif %}
                                </a>
                              </h1>
                            </div>
      
                            <!-- RS-Module Body -->
                            <div id="collapse{{criteria}}-{{rs_module}}" class="panel-collapse collapse out">
                              <div class="panel-body" id="{{criteria}}-{{rs_module}}">
                                <div class="row">
                                  <div class="col-md-12">
                                    {% if display_info[criteria]["rs_modules"][rs_module] is mapping %}
                                      <table class="table">

                                        <!-- Checks columns -->
                                        <thead>
                                          <tr>
                                            <th width=25.0%>Check</th>
                                            <th width=30.0%>Threshold</th>
                                            <th width=30.0%>Value</th>
                                            <th width=15.0%>Result</th>
                                          </tr>
                                        </thead>
        
                                        <!-- Checks -->
                                        <tbody>
                                          {% for check in display_info[criteria]["rs_modules"][rs_module]["checks"].keys() %}
                                            {% if display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Result"] == "Pass" %}
                                              <tr class="bg-success">
                                            {% elif display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Result"] == "Fail" %}
                                              <tr class="bg-danger">
                                            {% else %}
                                              <tr>
                                            {% endif %}
                                                <td>{{ display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Check"] }}</td>
                                                <td>
                                                  {% if display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Threshold"] is mapping %}
                                                  {% for subcheck in display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Threshold"] %}
                                                    <li> {{ display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Threshold"][subcheck] }} </li>
                                                  {% endfor %}
                                                  {% else %}
                                                    {{ display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Threshold"] }}
                                                  {% endif %}
                                                </td>
                                                <td>
                                                  {% if display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Value"] is mapping %}
                                                  {% for subcheck in display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Value"] %}
                                                    <li> {{ display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Value"][subcheck] }} </li>
                                                  {% endfor %}
                                                  {% else %}
                                                    {{ display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Value"] }}
                                                  {% endif %}
                                                </td>
                                                <td>{{ display_info[criteria]["rs_modules"][rs_module]["checks"][check]["Result"] }}</td>
                                              </tr>
                                          {% endfor %}
                                        </tbody>

                                      </table>
                                    {% else %}
                                      <tr>
                                        <td colspan="10" style="text-align:center;">
                                            <b><font color="red"> NO DATA </font></b>
                                        </td>
                                      </tr>
                                    {% endif %}  
                                  </div>
                                </div>
                              </div>
                            </div>
      
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

    <!-- Run List History Title -->
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:left">Run List History</h1>
      </div>
    </div>

    <!-- Run List History Table -->
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="20.0%">Date</th>
              <th width="20.0%">List added</th>
              <th width="20.0%">List removed</th>
              <th width="20.0%">Comment</th>
              <th width="20.0%">Name</th>
            </tr>
          </thead>
          <tbody>
            {% for pass in list_history.keys() %}
              <tr>
                <td> {{ list_history[pass]["timestamp"].split(" ",1)[0] }} </td>
                {% if list_history[pass]["list_added"] == "None" %}
                  <td>  </td>
                {% else %}
                  <td> {{ list_history[pass]["list_added"] }} </td>
                {% endif %}
                {% if list_history[pass]["list_removed"] == "None" %}
                  <td>  </td>
                {% else %}
                  <td> {{ list_history[pass]["list_removed"] }} </td>
                {% endif %}
                <td> {{ list_history[pass]["comment"] }} </td>
                <td> {{ list_history[pass]["name"] }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Run List Control Title -->
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align:left">Run List Control</h1>
      </div>
    </div>

    <!-- Run List Control Section -->
    <div class="row">
      <div class="col-md-12">
        <form action="{{ url_for('runselection_run_number', run_number=run_number)}}" method="POST" role="form">
          {% macro form_checkbox(field) -%}
              <div class="checkbox">
                  <label class="active"><input type="checkbox" name="{{ field.name }}" {% if field.data %}checked="checked"{% endif %}>{{ field.label.text }}</input></label>
              </div>
          {%- endmacro %}
          <div class="alert alert-info">
              <p>Note: When you press Submit, the run lists will be updated. Please ensure the boxes checked are the correct lists for this run!
          </div>
          <div class="col-md-6">
            {% for i in range((lists|length/2)|round|int) %}
            <tr>
              {{ form_checkbox(form[lists[i]]) }}
            </tr>
            {% endfor %}
          </div>
          <div class="col-md-6">
            {% for i in range((lists|length/2)|round|int, lists|length) %}
            <tr>
              {{ form_checkbox(form[lists[i]]) }}
            </tr>
            {% endfor %}
          </div>
          <div class="col-md-12">
            {% if form.name.errors %}
              <div class="form-group has-error">
            {% else %}
              <div class="form-group">
            {% endif %}
            <label for="name">{{ form.name.label }}</label>
            <input type="text" class="form-control" name="{{ form.name.name }}" placeholder="Dr P. L. Ace Holder" {% if form.name.data %}value="{{ form.name.data }}"{% endif %}></input>
            {% if form.name.errors %}
              {% for error in form.name.errors %}
                  <span class="help-block">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </div>
          <div>
            {% if form.comment.errors %}
              <div class="form-group has-error">
            {% else %}
              <div class="form-group">
            {% endif %}
            <label for="comment">{{ form.comment.label }}</label>
            <input type="text" class="form-control" name="{{ form.comment.name }}" placeholder="Comment (apostrophes and quotation marks are removed)" {% if form.comment.data %}value="{{ form.comment.data }}"{% endif %}></input>
            {% if form.comment.errors %}
              {% for error in form.comment.errors %}
                  <span class="help-block">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </div>
          {% if form.password.errors %}
            <div class="form-group has-error">
          {% else %}
            <div class="form-group">
          {% endif %}
          <label for="info">{{ form.password.label }}</label>
          <input type="password" class="form-control" name="{{ form.password.name }}" placeholder="Password"></input>
          {% if form.password.errors %}
              {% for error in form.password.errors %}
                  <span class="help-block">{{ error }}</span>
              {% endfor %}
          {% endif %}
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  {% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='js/burst_form.js') }}"></script>
{% endblock %}
