{% extends "layout.html" %}
{% block title %}Slow Control Plots{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
  {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}

    <div class="page-header">
        <h1 align="center">Slow Control Plots</h1>
    </div>

    <!-- Set up display options -->
    <div class="container">
        <div class="col-md-12">
            <table class="table table-hover">
            <tr>
                <th> Date Range: </th>
                <th> Datastream: </th>
                <th> </th>
            </tr>
            <tr>
                <!-- Data datetime inputs -->
                <th>
                    <div>
                        <input style="margin-bottom: 10px;" type="datetime-local" id="datetime_low" value="{{datetime_low}}" required></input> 
                    </div>
                    <div>
                        <input style="margin-bottom: 10px;" type="datetime-local" id="datetime_high" value="{{datetime_high}}" required></input>
                    </div>
                    <div id="date-warning" hidden style="color:red">Clear the plot to unlock.</div>
                </th>
                <!-- Channel selector -->
                <th>
                    <div>
                        <label for="supply">Supply Voltage</label>
                        <input type="radio" id="supply" value="supply" name="channel-type" checked>
                        <label for="supply-rack">Rack #</label>
                        <select name="supply-rack" id="supply-rack">
                            <option disabled selected hidden>...</option>
                            <option value="1">Rack 1</option>
                            <option value="2">Rack 2</option>
                            <option value="3">Rack 3</option>
                            <option value="4">Rack 4</option>
                            <option value="5">Rack 5</option>
                            <option value="6">Rack 6</option>
                            <option value="7">Rack 7</option>
                            <option value="8">Rack 8</option>
                            <option value="9">Rack 9</option>
                            <option value="10">Rack 10</option>
                            <option value="11">Rack 11</option>
                            <option value="timing">Timing Rack</option>
                        </select>
                        <label for="supply-voltage">Voltage</label>
                        <select name="supply-voltage" id="supply-voltage">
                            <option disabled selected hidden id="default-voltage">...</option>
                            <option value="24">24V</option>
                            <option value="-24">-24V</option>
                            <option value="8" id="supply-flippy">8V</option>
                            <option value="5">5V</option>
                            <option value="-5">-5V</option>
                            <option value="mtcd" id="mtcd" hidden>MTCD 2V</option>
                        </select>
                    </div>

                    <div>
                        <label for="baseline">Baseline Voltage</label>
                        <input type="radio" id="baseline" value="baseline" name="channel-type">
                        <label for="baseline-crate">Crate #</label>
                        <input type="number" id="baseline-crate" name="baseline-crate" min="0" max="18" value="" style="width: 4em">
                        <label for="baseline-trigger">Trigger</label>
                        <select name="baseline-trigger" id="baseline-trigger">
                            <option disabled selected hidden>...</option>
                            <option value="100">N100_BL</option>
                            <option value="20">N20_BL</option>
                        </select>
                    </div>
                </th>
                <!-- Plot controls -->
                <th class="col-xs-3 col-xs-offset-0">
                    <div> <button type=button id="new-plot" onclick="historyNew();">Generate New Plot</button> </div>
                    <div> <button type=button id="append-plot" onclick="historyAppend();">Add To Plot</button> </div>
                    <div id="mismatch-warning" style="color:red" hidden>Data types must match.</div>
                    <div> <button type=button id="append-plot" onclick="historyClear();">Clear Plot</button> </div>
                </th>
                </tr>
                </table>
    <div class="row">
        <div class="col-md-12" id="sum">
            <div id="waiting" { % if not slow_data % } hidden { % endif % }>
                Received data, loading...
            </div>
            <div id="incompatible" style="color:red" hidden>
                Data was incompatible. This should never happen.
            </div>
        </div>
    </div>
<!-- Plot goes here -->
    <div class="row">
        <div class="col-md-12" id="main">
            {% if not slow_data %}
                <h2 align="left"> No data </h2>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 align="left"> Available Data </h2>
            <table class="table table-hover" id="datastreams-listing">
                <thead>
                    <tr>
                    <th>Index</th>
                    <th>Datastream</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Points</th>
                    <th>Operations</th>
                    </tr>
                </thead>
                <tbody id="datastreams-body">
                </tbody>
            </table>
        </div>
    </div>

    </div>
</div>

<style>
    .mg-line1-legend-color {color: #88D642; fill: #88D642;} 
    .mg-line1-color {stroke: #88D642;}
    .mg-hover-line1-color {fill: #88D642;}
    .mg-area1-color {fill: #88D642;}

    .mg-line2-legend-color {color: #FF79C0; fill: #FF79C0;}
    .mg-line2-color {stroke: #FF79C0;}
    .mg-hover-line2-color {fill: #FF79C0;}
    .mg-area2-color {fill: #FF79C0;}

    .mg-line3-legend-color {color: #60c1bf; fill: #60c1bf;}
    .mg-line3-color {stroke: #60c1bf;}
    .mg-hover-line3-color {fill: #60c1bf;}
    .mg-area3-color {fill: #60c1bf;}

    .mg-line4-legend-color {color: #f8b128; fill: #f8b128;}
    .mg-line4-color {stroke: #f8b128;}
    .mg-hover-line4-color {fill: #f8b128;}
    .mg-area4-color {fill: #f8b128;}

    .mg-line5-legend-color {color: #5c5c5c; fill: #5c5c5c;}    
    .mg-line5-color {stroke: #5c5c5c;}
    .mg-hover-line5-color {fill: #5c5c5c;}
    .mg-area5-color {fill: #5c5c5c;}

    .mg-line6-legend-color {color: #0101d4; fill: #0101d4;}    
    .mg-line6-color {stroke: #0101d4;}
    .mg-hover-line6-color {fill: #0101d4;}
    .mg-area6-color {fill: #0101d4;}
</style>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slowcontrol_plots.js') }}"></script>
    <script>
        if (url_params.datetime_low && document.getElementById("datetime_low").value == "") {
            document.getElementById("datetime_low").value = url_params.datetime_low;
        }
        if (url_params.datetime_high && document.getElementById("datetime_high").value == "") {
            document.getElementById("datetime_high").value = url_params.datetime_high;
        }
        if (url_params.channel_type) {
            document.getElementById(url_params.channel_type).checked = true 
        }

        function initializeStoredArray(name) {
            rawValue = sessionStorage.getItem(name)
            if ((typeof rawValue !== "undefined") && (rawValue !== null))  { //probably only need "null" 
                return JSON.parse(rawValue)
            }
            else {
                return []
            }
        }

        function storeArray(name, data) {
            return sessionStorage.setItem(name, JSON.stringify(data));
        }

        var newSlowData = {{ slow_data | safe if slow_data else "null" }};
        var newDataName = "{{ data_name | safe if data_name else "null" }}"; // this sucks i am so sorry

        var slowData = initializeStoredArray("storedSlowData")
        var dataNames = initializeStoredArray("storedDataNames")
        var dataType = sessionStorage.getItem("dataType");

        if (newSlowData !== null) { //unfortunate, but null handling is hard
            slowData.push(newSlowData)
        }
        if (newDataName !== "null") { //more unfortunate
            dataNames.push(newDataName)
        }

        var mergedData = []

        if (slowData.length > 0) {
            slowData.forEach((datastream) => {
                // if (datastream.length !== slowData[0].length) {
                //     document.getElementById("incompatible").removeAttribute("hidden")
                //     throw new Error("Data streams were incompatible.");
                // }
                if (typeof datastream[0].key == "string") {
                    datastream.forEach((datapoint) => {
                        datapoint['key'] = moment(datapoint['key']).toDate();
                    });
                }
                if (typeof datastream[0].key == "number") {
                    datastream.forEach((datapoint) => {
                        datapoint['key'] = moment.unix(datapoint['key']).toDate();
                    });
                }
            });

            mintime = slowData[0][0]['key'];
            maxtime = slowData[0][slowData[0].length-1]['key'];
            var cscale = tzscale().domain([mintime, maxtime]).zone('America/Toronto');
        } 

        var time_fmt = 'MMMM Do YYYY, h:mm:ss a';

        var dparams = {
            area: false,
            data: slowData,
            width: $('#main').width(),
            left: 100,
            right: 100,
            height: 500,
            target: "#main",
            time_scale: cscale,
            x_accessor:'key',
            y_accessor:'value',
            point_size: 4.0,
            x_label: "Time",
            y_label: "Voltage",
            decimals: 4,
            legend: dataNames,
            interpolate: 'linear',

            y_mouseover: function(data) {
                var voltage = parseFloat(data['value']).toFixed(4);
                return voltage + ' V';
            },

            x_mouseover: function(data) {
                return moment(data.key).format(time_fmt);
            }
        };

        if (slowData.length > 0) {
            MG.data_graphic(dparams); //replaces "No data" text
        }

        function deleteStream(index) {
            slowData.splice(index, 1);
            storeArray("storedSlowData", slowData);
            dataNames.splice(index, 1);
            storeArray("storedDataNames", dataNames);
            sessionStorage.setItem("dataType", document.querySelector("input[name=channel-type]:checked").value);

            window.location.replace($SCRIPT_ROOT + "/slowcontrol_plots");
        }

        function addDatastreamTableRow(name, first, last, length, index) {
            console.log(`Adding row: ${index} ${name} ${first} ${last} ${length}`)
            
            tableData=
                `<tr>
                    <td class="mg-line${index+1}-legend-color">${index+1}</td>
                    <td>${name}</td>
                    <td>${first}</td>
                    <td>${last}</td>
                    <td>${length}</td>
                    <td><button onclick="deleteStream(${index})">Remove</button></td>
                </tr>`;
            var newRow = metadataTable.insertRow();
            newRow.innerHTML = tableData;
            return true;
        } //would really rather put these in the .js, but alas...

        for (var i = 0; i < slowData.length; i++) {
            var streamLength = slowData[i].length;
            var myName = dataNames[i];
            var myFirstTime = moment(slowData[i][0].key).format(time_fmt);
            var myLastTime = moment(slowData[i][streamLength-1].key).format(time_fmt);
            addDatastreamTableRow(myName, myFirstTime, myLastTime, streamLength, i);
        }
        
        document.getElementById("waiting").innerHTML="";

        if (slowData.length !== 0) {
            datetimeLowInput.setAttribute("disabled", "");
            datetimeHighInput.setAttribute("disabled", "");
            dateWarningText.removeAttribute("hidden");
        } else {
            dateWarningText.setAttribute("hidden", "");
        }

        // the only way to change line width, i tried. ugh
        // changing dparams or overriding CSS did NOT work, for me at least
        document.querySelectorAll('#main svg path.mg-main-line').forEach(function(path) {
            path.style.strokeWidth = '4px';
        });
        document.querySelectorAll('#main svg .mg-line-legend text').forEach(function(text) {
            text.style.fontSize = '1.2em';
            text.style.fontWeight = '600';
        });
        document.querySelectorAll('.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text').forEach(function(text) {
            text.style.fontSize = '1.1em';
        });

        function history() {
            var params = {};
            
            sessionStorage.setItem("dataType", document.querySelector("input[name=channel-type]:checked").value);
            appendPlotButton.setAttribute("disabled", "");
            newPlotButton.setAttribute("disabled", "");

            // if timestamp bounds exist for past data, continue
            // otherwise, set them, based on the value of the picker
            // on error, set them to a default fallback value
            // in either case, set the parameter to this stored value
            try {
                if (sessionStorage.getItem("startTimestamp") === null) {
                    sessionStorage.setItem("startTimestamp", document.getElementById("datetime_low").value);
                }
            } catch (e) {
                sessionStorage.setItem("startTimestamp", "2024-02-19T00:00");
            } finally {
                params['datetime_low'] = sessionStorage.getItem("startTimestamp")
            }
            try {
                if (sessionStorage.getItem("endTimestamp") === null) {
                    sessionStorage.setItem("endTimestamp", document.getElementById("datetime_high").value);
                }
                params['datetime_high'] = sessionStorage.getItem("endTimestamp")
            } catch (e) {
                sessionStorage.setItem("endTimestamp", "2024-05-29T23:59");
            } finally {
                params['datetime_high'] = sessionStorage.getItem("endTimestamp")
            }

            // set all other parameters (simply query the input, or fall back on a default)
            try {
                params['channel_type'] = document.querySelector("input[name=channel-type]:checked").value;
            } catch (e) {
                //pass? there's no good default here
            }
            try {
                params['supply_rack'] = document.getElementById("supply-rack").value;
            } catch (e) {
                params['supply_rack'] = "1";
            }
            try {
                params['supply_voltage'] = document.getElementById("supply-voltage").value;
            } catch (e) {
                params['supply_voltage'] = "24";
            }
            try {
                params['baseline_crate'] = document.getElementById("baseline-crate").value;
            } catch (e) {
                params['baseline_crate'] = "0";
            }
            try {
                params['baseline_trigger'] = document.getElementById("baseline-trigger").value;
            } catch (e) {
                params['baseline_trigger'] = "100";
            }

            window.location.replace($SCRIPT_ROOT + "/slowcontrol_plots?" + $.param(params));
        }

        function getEstTimeString() {
            var millisecondDifference = moment(datetimeHighInput.value) - moment(datetimeLowInput.value);
            const DataMsPerMsQueryTime = 400000; //ie. 1 ms of query time returns ~80 results, or 400secs of data (when threaded)
            var estWaitTimeMs = millisecondDifference / DataMsPerMsQueryTime;
            return moment.duration(estWaitTimeMs).locale('en').humanize(); 
        }

        function historyAppend() {
            storeArray("storedSlowData", slowData);
            storeArray("storedDataNames", dataNames);
            appendPlotButton.innerHTML = `Est. wait: ${getEstTimeString()}`;
            history();
        }
        
        function historyNew() {
            sessionStorage.clear();
            newPlotButton.innerHTML = `Est. wait: ${getEstTimeString()}`;
            history();
        }

        function historyClear() {
            sessionStorage.clear();
            window.location.replace($SCRIPT_ROOT + "/slowcontrol_plots");
        }

    </script>
{% endblock %}
