{% extends "layout.html" %}
{% block title %}Slow Control Plots{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
  {{ super() }}
  <style>
    .btn2 {
        background-color: #228B22;
        padding: 6px 6px;
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }
  </style>
{% endblock %}
{% block body %}
    {{ super() }}

    <div class="page-header">
        <h1 align="center">Slow Control Plots</h1>
    </div>

    <!-- Set up display options -->
    <div class="container">
        <div class="col-md-12">
            <table class="table table-hover">
            <tr>
                <th> Date Range: </th>
                <th> Datastream: </th>
                <th> </th>
            </tr>
            <tr>
                <!-- Data datetime inputs -->
                <th>
                    <div>
                        <input style="margin-bottom: 30px;" type="datetime-local" id="datetime_low" value="{{datetime_low}}" required></input> 
                    </div>
                    <div>
                        <input style="margin-bottom: 30px;" type="datetime-local" id="datetime_high" value="{{datetime_high}}" required></input>
                    </div>
                </th>
                <!-- Channel selector -->
                <th>
                    <div>
                        <label for="supply">Supply Voltage</label>
                        <input type="radio" id="supply" value="supply" name="channel-type" checked>
                        <label for="supply-rack">Rack #</label>
                        <input type="number" id="supply-rack" name="supply-rack" min="1" max="11" value="7" style="width: 4em">
                        <label for="supply-voltage">Voltage</label>
                        <select name="supply-voltage" id="supply-voltage">
                            <option value="24">24V</option>
                            <option value="-24">-24V</option>
                            <option value="8">8V</option>
                            <option value="5">5V</option>
                            <option value="-5">-5V</option>
                        </select>
                    </div>

                    <div>
                        <label for="baseline">Baseline Voltage</label>
                        <input type="radio" id="baseline" value="baseline" name="channel-type" checked>
                        <label for="baseline-crate">Crate #</label>
                        <input type="number" id="baseline-crate" name="baseline-crate" min="0" max="18" value="7" style="width: 4em">
                        <label for="crate-trigger">Trigger</label>
                        <select name="crate-trigger" id="crate-trigger">
                            <option value="100">N100_BL</option>
                            <option value="20">-N20_BL</option>
                        </select>
                    </div>
                </th>
                <!-- Button to plot the data -->
                <th class="col-xs-3 col-xs-offset-0">
                    <button type=button onclick="history();">Generate Plot</button>
</th>
</tr>
</table>
<!-- Runs summary goes here -->
    <div class="row">
    <div class="col-md-12" id="sum">
        <h2 align="left"> Summary: </h2>
        <p id="phys_summary"> </p>
        <p id="pass_summary"> </p>
        <p id="fail_summary"> </p>
        <p id="purg_summary"> </p>
    </div>
        </div>
<!-- Plot goes here -->
    <div class="row">
    <div class="col-md-12" id="main">
      {% if not rs_plot_data %}
        <h2 align="left"> No data available </h2>
      {% endif %}

    </div>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone-with-data.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tzscale.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mg_line_brushing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stream_utilities.js') }}"></script>
    <script>
        if (url_params.datetime_low && document.getElementById("datetime_low").value == "") {
            document.getElementById("datetime_low").value = url_params.datetime_low;
        }
        if (url_params.datetime_high && document.getElementById("datetime_high").value == "") {
            document.getElementById("datetime_high").value = url_params.datetime_high;
        }
        // if (url_params.criteria) {
        //     document.getElementById("crit").value = url_params.criteria;
        // }

        var rs_plot_data = {{ rs_plot_data | safe }};

        var dates = new Array();
        var phys = new Array();
        var pass = new Array();
        var fail = new Array();
        var purg = new Array();

        for (var i=0; i < rs_plot_data.length; i++)
        {
            date_ = moment(rs_plot_data[i]['timestamp']).toDate();
            dates.push(date_);
            phys.push({'date': date_, 'value': rs_plot_data[rs_plot_data.length - 1]['phys_total'] - rs_plot_data[i]['phys_total']});
            pass.push({'date': date_, 'value': rs_plot_data[rs_plot_data.length - 1]['pass_total'] - rs_plot_data[i]['pass_total']});
            fail.push({'date': date_, 'value': rs_plot_data[rs_plot_data.length - 1]['fail_total'] - rs_plot_data[i]['fail_total']});
            purg.push({'date': date_, 'value': rs_plot_data[rs_plot_data.length - 1]['purg_total'] - rs_plot_data[i]['purg_total']});
        }
        var cscale = tzscale().domain(dates).zone('America/Toronto');

        var time_fmt = 'MMM Do YYYY';
        
<!-- Messy bit of code to get the run summary section but it works... -MD -->
	var summaryTime = [rs_plot_data[rs_plot_data.length - 1]['phys_total'],rs_plot_data[rs_plot_data.length - 1]['pass_total'],rs_plot_data[rs_plot_data.length - 1]['fail_total'],rs_plot_data[rs_plot_data.length - 1]['purg_total']]
    
    var summaryRuns = [rs_plot_data[rs_plot_data.length - 1]['phys_runs'],rs_plot_data[rs_plot_data.length - 1]['pass_runs'],rs_plot_data[rs_plot_data.length - 1]['fail_runs'],rs_plot_data[rs_plot_data.length - 1]['purg_runs']]
    

for (var i=0; i < summaryTime.length; i++)
	{
		var j = parseFloat(summaryTime[i]).toFixed(3);
		summaryTime[i] = j;
	}

	document.getElementById("phys_summary").innerHTML = 'Physics: ' + summaryTime[0].toString() + ' Days, ' +summaryRuns[0].toString() + ' Runs';
    if (summaryRuns[1] == 0) {document.getElementById("pass_summary").innerHTML = 'Passed: None';}
    else{document.getElementById("pass_summary").innerHTML = 'Passed: ' + summaryTime[1].toString() + ' Days, ' +summaryRuns[1].toString() + ' Runs';}
    if (summaryRuns[2] == 0) {document.getElementById("fail_summary").innerHTML = 'Failed: None';}
    else{document.getElementById("fail_summary").innerHTML = 'Failed: ' + summaryTime[2].toString() + ' Days, ' +summaryRuns[2].toString() + ' Runs';}
    if (summaryRuns[3] == 0) {document.getElementById("purg_summary").innerHTML = 'Purgatory: None';}
    else{document.getElementById("purg_summary").innerHTML = 'Purgatory: ' + summaryTime[3].toString()  + ' Days, ' +summaryRuns[3].toString() + ' Runs';}

        var dparams = {
            area: false,
            data: [phys, pass, fail, purg],
            width: $('#main').width(),
            left: 100,
            right: 100,
            height: 500,
            target: "#main",
            time_scale: cscale,
            x_accessor:'date',
            y_accessor:'value',
            point_size: 4.0,
            y_label: "Time (Days)",
            x_label: "Date",
            decimals: 5,
            legend: ['Physics', 'Passed', 'Failed', 'Purgatory'],
    
	<!-- Adding the unit (days) to the mouse over legend and fixing the value to 3 decimal places -->
            interpolate: 'linear',
                        y_mouseover: function(d, i) {
		 var y = parseFloat(d['value']).toFixed(3);
                return y + ' (days)';

            },
        };

        MG.data_graphic(dparams);

        // the only way to change line width, i tried. ugh
        // changing dparams or overriding CSS did NOT work, for me at least
        document.querySelectorAll('#main svg path.mg-main-line').forEach(function(path) {
            path.style.strokeWidth = '4px';
        });
        document.querySelectorAll('#main svg .mg-line-legend text').forEach(function(text) {
            text.style.fontSize = '1.2em';
            text.style.fontWeight = '600';
        });
        document.querySelectorAll('.mg-x-axis text, .mg-y-axis text, .mg-histogram .axis text').forEach(function(text) {
            text.style.fontSize = '1.1em';
        });

        function history() {
            var params = {};
            try {
                params['datetime_low'] = document.getElementById("datetime_low").value;
            } catch (e) {
                params['datetime_low'] = "2024-02-19T00:00";
            }
            try {
                params['datetime_high'] = document.getElementById("datetime_high").value;
            } catch (e) {
                params['datetime_high'] = "2024-05-29T23:59";
            }
            // try {
            //     params['criteria'] = document.getElementById("crit").value;
            // } catch (e) {
            //     params['criteria'] = "scintillator_silver";
            // }
            window.location.replace($SCRIPT_ROOT + "/slowcontrol_plots?" + $.param(params));
        }

    </script>
{% endblock %}
