{% extends "layout.html" %}
{% block title %}Standard Run{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        {% if error %}
            <p class="text-danger"> {{error}} </p>
        {% endif %}
        {% if sr_info %}
        <div class = "row">
            <h2>
                <a href="{{url_for('standard_runs')}}">
                    <span class="glyphicon glyphicon-chevron-left"> </span>
                </a>
                {{sr_info.get('run_type')}} - {{sr_info.get('run_version')}}
            </h2>
        </div>
        {% if updater %}
        <div class = "row">
            <h4>
                Last Updated By: {{ updater }}
            </h4>
        </div>
        {% endif %}
        {% if comments %}
        <div class="row">
            <p> Notes: {{ comments }} </p>
        </div>
        {% endif %}
        <hr>
        <div class="row">
        <form action="{{url_for('standard_runs')}}/{{uuid}}" method="POST">
            <table class="table table-striped">
                <thead>
                    <th> Setting</th>
                    <th> Current Value</th>
                    <th> New Value</th>
                    <th> Replace?</th>
                </thead>
            {% for k, v in sr_info.iteritems()|sort %}
            <tr>
                <td> <label for="{{k}}"> {{ k }} </label> </td>
                <td> {{ v }} </td>
                <td> <input type="text" name="{{k}}_value" class="form-control" id="{{k}}"></input></td>
                <td> <input type="checkbox" name="{{k}}_replace" class="form-control"></input></td>
            </tr>
            {% endfor %}
            </table>

            <div class="form-group">
                <label for="name"> Name </label>
                <input class="form-control" required type=text" name="name" style="width:500px"></input>
            </div>

            <div class="form-group">
                <label for="textarea"> Info </label>
                <textarea class="form-control" required type="textarea" name="info" rows=3 style="width:500px"></textarea>
            </div>

            <div class="form-group">
                <label for="password"> Password </label>
                <input class="form-control" required type="password" name="password" style="width:500px"></input>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary"> Submit </button>
            </div>
        </form>
        </div>
        {% endif %}
    </div>
    <br>
{% endblock %}
