{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Update Channel Status{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="update-pmtic-resistors" method="POST" role="form">
                    <div>
                        <label for="crate">Crate</label>
                        <select id="crate" name="crate">
                            {% for i in range(19) %}
                                <option {% if crate == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <label for="slot">Card</label>
                        <select id="slot" name="slot">
                            {% for i in range(16) %}
                                <option {% if slot == i %}selected="selected" {% endif %}value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <dl>
                        {{ render_field(form.r252) }}
                        {{ render_field(form.r151) }}
                        {{ render_field(form.r386) }}
                        {{ render_field(form.r387) }}
                        {{ render_field(form.r388) }}
                        {{ render_field(form.r389) }}
                        {{ render_field(form.r390) }}
                        {{ render_field(form.r391) }}
                        {{ render_field(form.r392) }}
                        {{ render_field(form.r393) }}
                        {{ render_field(form.r394) }}
                        {{ render_field(form.r395) }}
                        {{ render_field(form.r396) }}
                        {{ render_field(form.r397) }}
                        {{ render_field(form.r398) }}
                        {{ render_field(form.r399) }}
                        {{ render_field(form.r400) }}
                        {{ render_field(form.r401) }}
                        {{ render_field(form.r402) }}
                        {{ render_field(form.r403) }}
                        {{ render_field(form.r404) }}
                        {{ render_field(form.r405) }}
                        {{ render_field(form.r406) }}
                        {{ render_field(form.r407) }}
                        {{ render_field(form.r408) }}
                        {{ render_field(form.r409) }}
                        {{ render_field(form.r410) }}
                        {{ render_field(form.r411) }}
                        {{ render_field(form.r412) }}
                        {{ render_field(form.r413) }}
                        {{ render_field(form.r414) }}
                        {{ render_field(form.r415) }}
                        {{ render_field(form.r416) }}
                        {{ render_field(form.r417) }}
                        {{ render_field(form.r418) }}
                        {{ render_field(form.password) }}
                    </dl>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        function update_page() {
            window.location.replace($SCRIPT_ROOT + "/update-pmtic-resistors?" + $.param({'crate': $('#crate').val(), 'slot': $('#slot').val()}));
        }
        $("#crate").on("change", update_page);
        $("#slot").on("change", update_page);
    </script>
{% endblock %}
